* {
    margin: 0;
    padding: 0;
    text-indent: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    width: 7rem;
}

h3 {
    color: rgb(48, 180, 197);
    font-weight: 600;
}

p {
    font-weight: 600;
    color: rgb(218, 218, 218);
}

.pcAnswer {
    font-size: 4rem;
    animation: getbig 2s linear infinite;
    margin: 0;
    font-weight: 600;
}

@keyframes getbig {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}